/*-------FONT-------*/
body {
  font-family: 'Microsoft JhengHei UI';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Microsoft JhengHei';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

@media (max-width: 1260px) {
  h1 {font-size: 2.489rem; /* 39.84px */}
  h2 {font-size: 2.074rem; /* 33.12px */}
  h3 {font-size: 1.728rem; /* 27.68px */}
  h4 {font-size: 1.440rem; /* 23.04px */}
  h5 {font-size: 1.200rem; /* 19.2px */}
  small {font-size: 0.833rem; /* 13.28px */}
}
/*-------FONT-------*/

:root {
  --color-text: rgb(17, 23, 34);
  --color-text2: rgb(69, 84, 114);
  --color-primary: rgb(131, 176, 255);
  --color-secondary: rgb(108, 162, 255);
  --color-accent: rgb(8, 77, 196);
  --color-background: rgb(244, 248, 251);

  --window-width: 100vw;
  --window-height: 100vh;
}

// :root {
//   --color-text: rgb(226, 230, 238);
//   --color-primary: rgb(140, 172, 227);
//   --color-secondary: rgb(18, 63, 140);
//   --color-accent: rgb(59, 128, 247);
//   --color-background: rgb(4, 8, 11);

//   --window-width: 100vw;
//   --window-height: 100vh;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//   }
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: ease-in-out .5s;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background)
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
